<!DOCTYPE html>
<html>
<head>
	<style>

	</style>
 	<!--<script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>-->
	<script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="angular.js"></script>
	<!--<script src="http://code.angularjs.org/1.1.5/angular.min.js" ></script>-->
	<!-- <script data-require="angular.js@1.3.x" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js" data-semver="1.3.7"></script>-->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.min.js""></script>
    
    <link data-require="ng-table@*" data-semver="0.3.0" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css" />
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
   <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="bootstrap.min.css" />
    
    <link rel="stylesheet" href="style.css" />
 <script src="ng-country-selector.js"></script>
    <script src="script.js"></script>
</head>
<body ng-app="main" >
    <div ng-controller="DemoCtrl" class="mainapp">
	<div class="header">
		<div class="adduser">
			<ul>
				<li><button ng-click="addusers()">Add User</button></li>
				<li><button ng-click="searchusers()">Search User</button></li>
				<!--<li>{{data}}</li>-->
			</ul>
			<div class="total-users">
				<span>Total Users :<span ng-click="showtotalusers()">{{usercount}}</span></span>
				<!--<select class="selection-users" ng-show="showuserlist" >
					<option ng-repeat="users in data" ng-click="showdata(users.id,users.name,users.age,users.country,users.gender,user.profile)">{{users.name}}</option>
				</select>-->
			</div>
		</div>
	</div>
	<div class="content-wrapper"><!--ng-show="showitem"-->

		<div  class="user-details-block left-anim anim-elem {{activedetailsclass}}" >
        <div ng-repeat="det in details">
			    <div class="user-details-wrapper">
				    <div class="close" ng-click="close()">close</div>
				    <div class="detailsblock"><img src={{det.gender}}.png alt={{det.name}}-image></div>
				    <div class="detailsblock">
					    <div class="namelbl label">Name:</div>
					    <div class="name output">{{det.name}}</div>
				    </div>
				    <div class="detailsblock">
					    <div class="idlbl label">ID:</div>
					    <div class="id output">{{det.id.split(' ').join('') }}</div>
				    </div>
				    <div class="detailsblock">
					    <div class="genderlbl label">Gender:</div>
					    <div class="gender output">{{det.gender}}</div>
				    </div>
				    <div class="detailsblock">
					    <div class="emaillbl label">Email-ID:</div>
					    <div class="email output">{{det.email.split(' ').join('') }}</div>
				    </div>
				    <div class="detailsblock">	
					    <div class="agelbl label">Age:</div>
					    <div class="age output">{{det.age}}</div>
				    </div>
				    <div class="detailsblock">
					    <div class="countrylbl label">Country:</div>
					    <div class="country output">{{det.country}}</div>
				    </div>
				    <div class="detailsblock">
					    <div class="infolbl label">Information:</div>
					    <div class="info output">{{det.profile}}</div>
				    </div>
				    <!--<div class="detailsblock countryimg">
						    <img class="flag" src="img/{{det.country | lowercase }}.png" alt={{det.name}}-image>		
				    </div>-->
	
				
			    </div>
        </div>
		</div>
    <!--ng-show="addform"-->
		<div class="adduser-block top-anim anim-elem {{activeadduserclass}}" >
			<div  class="adddetails" >
		
				<form >
					<div class="item"><label>Name:</label><input type="text" ng-model="username"><br/></div>
					<div class="item"><label>Age:</label><input type="number" ng-model="age"><br/></div>
					<div class="item"><label>Gender:</label>
              <select ng-model="persongender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
            </select>
          </div>
					<div class="item"><label>Country:</label><input type="text" ng-model="country"><br/></div>
					<div class="item"><label>Information:</label><textarea type="text" ng-model="info"></textarea><br/></div>
					<div class="item"><label>Upload Image:</label><input type="file" id="file" ng-model="imageupload"><br/></div>
					<div class="item"><button ng-click="adddata()">Add</button><button ng-click="addclose()">Cancel</button></div>
					<!--<div>{{filedata}}</div>-->
				
				</form>
			</div>
		</div>
		<div class="search-block right-anim anim-elem {{activesearchclass}}" >
		
			<div class="search item" >
					  <div class="search-field">
						    <label>Search:</label>
                <div class="search-inner-field">
						      <input type="text" ng-model="search.name">
                  <!--<ul>
                        <li ng-repeat="users in data | filter:search" ng-show='search.name' ng-click="showcurrent(users.name)">
                             <img src={{users.gender}}.png alt={{users.name}}-image> <span>{{users.name }}</span>
                        </li>
                  </ul>-->
                </div>
            </div>
             <ul class="search-result">
                  <li ng-repeat="users in data | filter:search" ng-show='search.name'>
                      <div class="left-col"> <img src={{users.gender}}.png alt={{users.name}}-image> </div>
                      <div class="right-col">
                         <span class="result-name">{{users.name }}</span>
                         <span class="result-profile">{{users.profile }}</span>
                      </div>
                  </li>
            </ul>
            <!--<button ng-click="searchdata()">Search</button>-->
						<span ng-click="searchclose()" class="search-close">close</span>
			</div>
		</div>
    <div class="searchresult" ng-show="searchResult">
      <div class="searchresult-sub">
        <span ng-click="searchclose()" class="close">close</span>
        <ul ng-repeat="results in resultset" class="resultset">
            <li class="name"><img src={{results.gender}}.png alt={{results.name}}-image> {{results.name}}</li>
            <li>ID:{{results.id}}</li>
            <li>Age:{{results.age}}</li>
             <li>Counry:{{results.country}}</li>
            <li>Gender:{{results.gender}}</li>
            <li>info:{{results.profile}}</li>
        </ul>
      </div>
    </div>
		<!--<div class="page">
			<div class="page-number page-details"><span>Page:</span> <span class="label-data">{{tableParams.page()}}</span></div>
			<div class="total-page-number page-details"><span>Count per page:</span> <span class="label-data"> {{tableParams.count()}}</span></div>
		</div>-->
		<div class="table-wrapper">
		      <table ng-table="tableParams" class="table table-condensed table-striped">
		          <tr ng-repeat="user in data  | orderBy: 'name' " >
		              <!--<td data-title="'Action'"><button ng-click="removename($index)">Remove</button></td>-->
		              <td ng-show="showdataitem">{{user.name}} age is {{user.age}}</td>
		              <td data-title="'Pic'"><img src={{user.gender}}.png alt={{user.name}}-image></td>
		              <td data-title="'Name'">{{user.name}}</td>
		              <td data-title="'Age'">{{user.age}}</td>
		              <td data-title="'Country'">{{user.country}}</td>
		               <td data-title="'Address'">{{user.name | uppercase }},{{user.country | uppercase}}</td>
			           <td data-title="'View More'"><button ng-click="showdata(user.id,user.name,user.age,user.country,user.gender,user.profile)">View More</button></d>
		              <!-- <td data-title="'image'">{{user.imgpath}}</td>-->
		          </tr>
		      </table>
    </div>
	    </div>
	   <div class="footer">
              <span class="pull-right">Developed by geogeorge</span>
	   </div>
    </div>
</body>
</html>
